p.p1 {
    color: blue;
    font-size: 20px;
}
div.div1 {
    margin: 15px 0px 0px 0px;
    border-style: double;
    border-width: 5px;
    padding-left: 10px;
border-color: red;
border-bottom: dotted;
border-top: dotted;
border-top-left-radius: 13px;
border-top-right-radius: 20px;
border-bottom-left-radius: 13px;
border-bottom-right-radius: 20px;
width: 20%;
float: left; 
overflow: auto;   
}
div.div2 {
    border-style: dotted;
    padding: 2mm;
    border-radius: 3cm;
    background-color: lightblue;
    /*max-width: 90px;*/
    min-block-size: 40px;
    display: inline-block;
    width: 30%;
    
}
div.div3 {
    border: 1px solid black;
    text-transform: capitalize;
    padding: 0px;
    margin-top: 13px;
    text-indent: 20px;
    overflow: auto;
    position: absolute;
    padding-left: 20px;
    width: 30%;
    display: inline-block;
}
div.div2:hover{
    background-color: yellow;
    opacity: 0.8;
}
div.div4{
height: 100%;
min-height: 100%;
width: 30%;
display: inline-block;
}